<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492011424876-hc3lglhhq9qabvimcoaot4kokgfsdekr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492011424876-hc3lglhhq9qabvimcoaot4kokgfsdekr</string>
	<key>API_KEY</key>
	<string>AIzaSyDmUEc2fdwwpR6yiB3afPz9XdsKuOnfcVs</string>
	<key>GCM_SENDER_ID</key>
	<string>492011424876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmcvk.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todoflutter-a6e71</string>
	<key>STORAGE_BUCKET</key>
	<string>todoflutter-a6e71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492011424876:ios:b7830c68fd6d67968a9c49</string>
</dict>
</plist>